@model IEnumerable<LaBlisteria.Models.ProductoTipo>

@{
    ViewBag.Title = "Categorias";
}

<h2>Categorias</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductoTipoNombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductoTipoNombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ProductoTipoID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ProductoTipoID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ProductoTipoID })
        </td>
    </tr>
}

</table>
